/*
Yo, welcome to Lucas's CSS code.
This place is ugly but it makes
things look pretty.
*/

@import url("https://fontlibrary.org/face/hanken");
html, body {
  height: 100%;
  width: 100%;
  font-family: 'HankenBook';
  font-weight: normal;
  font-style: normal;
  margin:0;
  padding:0;
  border:0;
  outline:0;
  background:#000941;
}

.aboutme {
  text-align: center;
  color: #fff;
  padding-bottom: 10px;
  padding-top: 0px;
  font-size: 25px;
}

.panel {
  position: absolute;
  left: 10%;
  right: 10%;
  top: 10%;
  height: 50%;
}

.category {
  height: auto;
  background: #343D80;
  border-radius: 20px;
  padding: 10px;
  margin-bottom: 20px;
  margin-right: 10px;
}

.item {
  text-align: left;
  color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 25px;
}

a.item {
  color: #6BCAFF;
  
}

a.item:hover {
  color: #ADE1FF;
}



.buttonItem {
  text-align: center;
  padding-bottom: 20px;
  padding-top: 20px;
  font-size: 30px;
}

.buttonDropDown span {
  cursor: pointer;
  position: relative;
  transition: 0.1s;
}

.buttonDropDown {
  margin-bottom: 30px;
  padding: 15px 40px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  color: #FFFFFF;
  background-color: #1A1E42;
  border: none;
  border-radius: 20px;
  box-shadow: 0 9px #4552B3;
  font-family: 'HankenBook';
  font-weight: normal;
  font-style: normal;
}

.buttonDropDown:hover {background-color: #29316A}

.buttonDropDown:active {
  background-color: #1A1E42;
  box-shadow: 0 5px #4552B3;
  transform: translateY(4px);
}

#Entertainment {
	display: none;
}

#SchoolWork {
	display: none;
}

#OnlineWorkFlow {
	display: none;
}

#Developers {
	display: none;
}

#SocialMedia {
	display: none;
}

#Miscellaneous {
	display: none;
}